<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Metrolib" version="0.2.2.34" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Threading.Extensions" version="1.0.14" targetFramework="net45" />
  <package id="Tailviewer.Api" version="0.6.0.266-beta" targetFramework="net45" />
</packages>